---
const { url } = Astro.props;

let pokemonData = null;
let imageUrl = '';
let types = [];

try {
  const response = await fetch(url);
  pokemonData = await response.json();
  imageUrl = pokemonData.sprites.front_default;
  types = pokemonData.types.map(typeInfo => typeInfo.type.name);
} catch (error) {
  console.error('Error fetching Pokémon data:', error);
}
---

<article class="pokemon-card">
  {pokemonData ? (
    <>
      <img src={imageUrl} alt={`Imagen de ${pokemonData.name}`} class="pokemon-image" />
      <h2 class="pokemon-name">{pokemonData.name}</h2>
      <div class="pokemon-types">
        {types.map(type => <span class={`pokemon-type type-${type}`}>{type}</span>)}
      </div>
    </> ) : (
      <p>Cargando...</p>
    )}
</article>

<style>
	.pokemon-card {
		border: 1px solid #ccc;
		border-radius: 8px;
		padding: 16px;
		text-align: center;
		background-color: rgb(243, 142, 142);
		transition: transform 0.2s;
	}
	.pokemon-card:hover {
		transform: scale(1.05);
	}
	.pokemon-name {
		text-transform: capitalize;
		margin: 10px 0;
	}
	.pokemon-image {
		width: 120px;
		height: 120px;
	}
	.pokemon-types {
		display: flex;
		justify-content: center;
		gap: 5px;
	}
	.pokemon-type {
		padding: 5px 10px;
		border-radius: 5px;
		color: rgb(255, 255, 255);
		font-size: 0.8em;
	}

	.type-fire { background-color: #ff7c1f; }
	.type-water { background-color: #5f81d1; }
	.type-grass { background-color: #4aa71c; }
	.type-normal { background-color: #858585; }
	.type-flying { background-color: #715fa8; }
	.type-poison { background-color: #89d655; }
	.type-bug { background-color: #7eb820; }
</style>